{% extends '@TimeMachine/base.html.twig' %}

{% block body %}
	<form class="row g-3">
		<div class="col-md-4 offset-md-2">
			<input type="date" name="date" class="form-control" value="{{ dateTime | date('Y-m-d') }}">
		</div>
		<div class="col-md-4">
			<input type="time" name="time" class="form-control" value="{{ dateTime | date('H:i:s') }}" step="1">
		</div>
		<div class="col-md-2">
			<button type="submit" class="btn btn-success w-100">Submit</button>
		</div>
		<div class="col-md-8 offset-md-2">
			{% if isBeforeCreation %}
				<div class="alert alert-warning">
					<p>This entry does not exist yet.</p>
					<a href="{{ url('time_machine_state', {
						entity: app.request.attributes.get('entity'),
						id: app.request.attributes.get('id'),
						date: user.createdAt | date('Y-m-d'),
						time: user.createdAt | date('H:i:s')
					}) }}" class="link-warning">
						<span>Go to creation date</span>
					</a>
				</div>
			{% else %}
				<table class="table table-bordered">
					<tbody>
						{% for property in data.properties %}
							<tr>
								<td>
									<b>{{ property.name | humanize | trans }}</b>
									<small>({{ property.type | default('Entity') | humanize }})</small>
								</td>
								<td>{{ attribute(user, property.name) | readable(property.type) | raw }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	</form>
{% endblock %}

