{% extends '@TimeMachine/base.html.twig' %}

{% block body %}
	{% include '@TimeMachine/partials/navigation.html.twig' %}

	{% for history in histories %}
		<table class="table border">
			<thead>
				<tr>
					<td colspan="4" class="bg-light text-center">
						<b>{{ history.createdAt | format_datetime | capitalize }}</b>
					</td>
				</tr>
			</thead>
			<tbody>
				{% for change in history.changes %}
					<tr>
						<td class="col-md-4">
							<b>{{ change.property | humanize | trans }}</b>
							<small>({{ change.type | default('Relation') | humanize }})</small>
						</td>
						<td class="col-md-4">{{ change.before | readable(change.type) | raw }}</td>
						<td class="col-md">
							<i class="fa-solid fa-arrow-right"></i>
						</td>
						<td class="col-md-4">{{ change.after | readable(change.type) | raw }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="alert alert-warning">There are no changes registered on this entry yet.</div>
	{% endfor %}
{% endblock %}
